@using BudgetApp.Infrastructure
@using MediatR
@using BudgetApp.Core.Features.Budgets.Models
@using BudgetApp.Core.Features.Budgets.Queries
@using BudgetApp.Core.Features.Transactions.Models
@using BudgetApp.Core.Features.Transactions.Queries
@using BudgetApp.Domain.Enums
@using BudgetApp.Core.Features.BankAccounts.Queries
@using BudgetApp.Core.Features.Transactions.Commands
@using CsvHelper
@using System.Dynamic
@using System.Globalization
@using BudgetApp.Core.Features.BankAccounts.Models
@using BudgetApp.Core.Services
@using BudgetApp.Helpers
@using BudgetApp.Pages.Components.Imports
@inject DialogService DialogService
@inject IMediator Mediator

<div class="transactionContainer">
    <div class="buttonContainer">
        
        <label class="rz-button">
            <RadzenButton Shade="Shade.Dark" Click="@(_ => OpenTransactionDialog())" Text="Add" ButtonStyle="ButtonStyle.Secondary"/>
        </label>

        <label class="rz-button" for="file-upload">
            <RadzenButton Shade="Shade.Darker" Text="Import" ButtonStyle="ButtonStyle.Secondary"/>
            <InputFile id="file-upload" OnChange="@ProcessImportedCsvFile" style="display:none;"/>
        </label>
    </div>

    <RadzenDataGrid
        AllowFiltering="true"
        AllowColumnResize="true"
        AllowSorting="true"
        PageSize="10"
        AllowPaging="true"
        Data="@Transactions"
        TItem="TransactionModel"
        RowClick="e => OpenTransactionDialog(e.Data)">
        <Columns>
            <RadzenDataGridColumn TItem="TransactionModel" Property="CreateDate" Title="Date" SortOrder="SortOrder.Descending"/>
            <RadzenDataGridColumn TItem="TransactionModel" Property="AmountText" Title="Amount">
                <Template Context="transaction">
                    <span class="@GetAmountCellStyle(transaction.Amount)">
                        @transaction.AmountText
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TransactionModel" Property="Description" Title="Description"/>
            <RadzenDataGridColumn TItem="TransactionModel" Property="Status" Title="Status">
                <Template Context="transaction">
                    <span class="@GetStatusCellStyle(transaction.Status)">
                        @transaction.Status
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TransactionModel" Property="BankAccount.Name" Title="Account"/>
        </Columns>
    </RadzenDataGrid>

</div>

@code {
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    [Parameter]
    public int? BudgetId { get; set; }
    
    private BudgetModel budget { get; set; }

    private List<TransactionModel> Transactions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetTransactions();
    }

    private async Task GetTransactions()
    {
        var authState = await AuthState;
        if (authState.User.Identity?.IsAuthenticated ?? false)
        {
            var getBudgetCommand = new GetBudget()
            {
                BudgetId = BudgetId,
                UserId = authState.User.GetUserId()
            };

            var defaultBudget = await Mediator.Send(getBudgetCommand);
            if (defaultBudget.Success)
            {
                budget = defaultBudget.Value;

                var transactions = await Mediator.Send(new GetTransactionsForBudget
                {
                    BudgetId = defaultBudget.Value.Id,
                    CurrentMonthOnly = false
                });

                Transactions = transactions;
            }
        }
    }

    private async Task OpenTransactionDialog(TransactionModel? transaction = null)
    {
        var bankAccounts = await Mediator.Send(new GetBankAccountsForBudget() { BudgetId = budget.Id });
        
        var parameters = new Dictionary<string, object>
        {
            { "BudgetId", budget.Id },
            { "BankAccounts", bankAccounts}
        };

        if (transaction is not null)
        {
            parameters.Add("Transaction", transaction);
        }

        var dialogTitle = transaction is null ? "Add transaction" : "Modify transaction";

        bool? isTransactionAdded = await DialogService.OpenAsync<TransactionForm>(dialogTitle, parameters);
        if (isTransactionAdded ?? false)
        {
            await GetTransactions();
        }
    }

    private string GetStatusCellStyle(TransactionStatusEnum status)
    {
        return status switch
        {
            TransactionStatusEnum.New => "new-status",
            TransactionStatusEnum.Completed => "completed-status",
            TransactionStatusEnum.Scheduled => "scheduled-status",
            _ => string.Empty
            };
    }

    private string GetAmountCellStyle(decimal amount)
    {
        return amount > 0
            ? "green-font"
            : "red-font";
    }
    
    private async Task ProcessImportedCsvFile(InputFileChangeEventArgs e)
    {
        const string csvType = "text/csv";
        if (e.File.ContentType != csvType)
        {
            //TODO info about required CSV file
            return;
        }

        var importedTransactions = await CsvService.GetRecordsFromCsvFile(e.File);

        var user = await AuthState;
        var bankAccounts = await Mediator.Send(new GetBankAccountsForBudget() { BudgetId = budget.Id });

        var formParameters = new Dictionary<string, object>()
        {
            { "BudgetId", BudgetId!.Value },
            { "UserId", user.GetUserId() },
            { "BankAccounts", bankAccounts},
            { "Transactions", importedTransactions }
        };
        
        await DialogService.OpenAsync<ImportedTransactionsForm>("Imported transaction scheme", formParameters);
    }
}